#headItem{
	background-color: #3295D9;
	display: flex;
	justify-content: center;
}
#headItem>div{
	min-width: 1200px;
}
#headItem>div>div{
	width: 100%;
	border: 1px solid red;
	display: flex;
	width: 1200px;
}
.header{
	justify-content: space-between;
}
.logo img{
	width: 120px;
}
.searchItem>div{
	display: inline-block;
}
.headSearch{
	justify-content: center;
}
.headClassification{
	justify-content: center;
	background-color: #fff;
}
.classification{
	height: 60px;
	line-height: 60px;
}
.menuList li{
	display: inline-block;
}
